* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.5s ease;
}
.heroBannerHedding {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
}
.heroBannerSmallHedding {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
}
.footerHeroBannerHedding {
  color: rgb(19, 19, 19);
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}
.footerHeroBannerSmallHedding {
  color: rgba(19, 19, 19, 0.7);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
